/* MENU SUPERIOR */

.navbar {
    background: #424242;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-transform: uppercase;
    text-align: right;
}

#navbar a {
    text-decoration: none;
    color: white;
}


/* MENU IZQUIERDA */

.contenedor-menu {
    background: #1c1c1c;
    width: 334px;
    min-width: 334px;
    height: 100vh;
}

.item a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    padding: 15px;
    border-left: 5px solid #1c1c1c;
}

.item a:hover {
    background: #424242;
    border-left: 5px solid #c7c7c7;
    border-radius: 6px;
}

.item a:first-child:hover {
    border-left: 5px solid #c7c7c7;
    border-bottom: 6px;
    border-top: 0px;
    border-radius: 0%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.icono {
    width: 50px;
}

.titulo {
    max-width: 250px;
}

@media only screen and (max-width: 1200px) {
    .contenedor {
        width: 80px;
    }
    .contenedor-menu {
        min-width: 80px;
    }
    .titulo {
        display: none;
    }
}