@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
* {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #303030;
}

.contenedor {
    display: flex;
}

.subcontenedor {
    width: 100%;
    height: 100vh;
}